@import "tailwindcss";

:root {
  --bg-primary: #1a237e;
  --bg-sec: #0d47a1;
  --color-primary: #e0f2f1;
  --color-sec: #004d40;
  --danger: #ea5f76;
}

body {
  overflow-x: hidden;
  margin: 0;
}

/**
* HEADER
**/

header {
  width: 100%;
}

.top-bar {
  background-color: var(--bg-sec);
  color: var(--color-primary);
  padding: 25px 25px;
  display: flex;
  justify-content: space-around;
  height: 1vh;
  align-items: center;
}
.top-bar h5,
.top-bar p {
  font-size: 18px;
}
.top-bar-right {
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
}
.social-media_icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}
.main-logo p {
  text-align: center;
  font-size: 90px;
  margin-block: 10px;
}
.main-logo p span {
  color: var(--color-sec);
  font-family: fantasy;
}

/**
* HERO SECTION
**/
/* HERO CONTAINER */
/* .hero-custimize {
    width: 100%;
    height: 100%;
  }
   */
/* IMAGE */
.hero-section {
  width: 100%;
  height: 100%;
  position: relative;
  top: -20%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

/* hover without layout breaking */
.hero-section:hover {
  transform: scale(1.05);
}

/* OVERLAY */
.hero-overlay {
  height: auto;
  padding: 12px 16px;
}

/* TITLE & SUBTITLE */
.MuiImageListItemBar-title {
  font-size: 1.6rem;
  line-height: 1.2;
}

.MuiImageListItemBar-subtitle {
  font-size: 0.95rem;
}
